:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Força o esquema de cores para CLARO */
  color-scheme: light;

  /* Garante cores padrões */
  color: #213547;
  background-color: #f9f9f9;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
